*{
    text-align: center;
    padding:0;
    margin: 0;
    font-family: 'rubik',sans-serif;
    
}
body{
    color:#4a4a4a;
}
.background{
    margin: 15px;
}

.flex{
    height: 90px;
    width: 100%;
    background-color:yellowgreen;
    margin-top: 25px;
    justify-content: flex-start;
    display: flex;
    border: solid black;
    border-radius: 20px;

}

.flex2{
    height: 90px;
    width: 100%;
    background-color:yellowgreen;
    margin-top: 25px;
    justify-content: flex-end;
    display: flex;
    border: solid black;
    border-radius: 20px;
}

.flex3{
    height: 90px;
    width: 100%;
    background-color:yellowgreen;
    margin-top: 25px;
    justify-content: center;
    display: flex;
    border: solid black;
    border-radius: 20px;
}

.flex4{
    height: 90px;
    width: 100%;
    background-color:yellowgreen;
    margin-top: 25px;
    justify-content: space-between;
    display: flex;
    border: solid black;
    border-radius: 20px;
}

.flex5{
    height: 90px;
    width: 100%;
    background-color:yellowgreen;
    margin-top: 25px; 
    justify-content: space-around;
    display: flex;
    border: solid black;
    border-radius: 20px;
}

.flex6{
    height: 90px;
    width: 100%;
    background-color:yellowgreen;
    margin-top: 25px;
    justify-content: space-evenly;
    display: flex;
    border: solid black;
    border-radius: 20px;
}

.box1{
    height: 60px;
    width: 60px;
    background-color: black;
    margin:15px;
    border-radius: 5px;
}
.box2{
    height: 60px;
    width: 60px;
    background-color: white;
    margin:15px;
    border-radius: 5px;
}

.box3{
    height: 60px;
    width: 60px;
    background-color: black;
    margin:15px;
    border-radius: 5px;
}
.box4{
    height: 60px;
    width: 60px;
    background-color: white;
    margin:15px;
    border-radius: 5px;
}
.box5{
    height: 60px;
    width: 60px;
    background-color: black;
    margin:15px;
    border-radius: 5px;
}
.box6{
    height: 60px;
    width: 60px;
    background-color: white;
    margin:15px;
    border-radius: 5px;
}

.flex3 h1{
    color: white;
}
.flex5 h1{
    color: white;
}
.flex h1{
    color: white;
}

.footer{
    display: flex;
    justify-content: space-evenly;
    background-color: #14468A;
    color: #fff;
    font-size: 1rem;
    flex-direction: column;
}
.partnerid{
    margin: 20px;
}
.üld{
    margin: 20px;
}
.oluline{
    margin: 20px;
}
.avaleht{
    color: white;
}
.grid{
    display: grid;
    grid-template-columns: auto auto;
}
.pilt{
    background-color: white;
    width: 160px;
    height: 80px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pilt img{
    max-height: 70px;
    max-width: 120px;
}
.header1{
    display: flex;
    justify-content: space-around;
}
.header2{
    display: flex;
    justify-content: space-between;
    width: 1000px;
    height: 80px;
    background-color: #EEEEEE;
}
.header2 h3{
    color: #14468A;
    align-self: center;
}
.header-text{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 20px;
}
.main-header{
    display: flex;
    background-color: #EEEEEE;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0 0.125rem 0.25rem 0 rgb(161 161 161 / 50%);
}
h4{
    padding: 5px;
    gap:2;
}
.logo img{
    height: 150px;
    width: 300px;
    object-fit: contain;
}
a{
    color: white;
}
.fb{
    width: 25px;
    height: 25px;
    align-self: center;
}
.ig{
    align-self: center;
    margin-left: 200px;
    margin-right: 10px;
}
.nav{
    height: 60px;
    width: 100%;
    background-color: #14468A;
    color: #fff;
    display: flex;
}
.nav1{
    display: flex;
    align-self: center;
    height: 60px;
    width: 50%;
}
.nav2{
    display: flex;
    align-self: center;
    height: 60px;
    width: 50%;
    justify-content: center;
}
.lang{
    display: flex;
}
.lang h3{
    margin: 10px;
    align-self: center;
}
.inside-nav{
    display: flex;
    height: 55px;
}
.search{
    padding: 30px;
    align-self: center;
}
.search input[type=text] {
    height: 40px;
    width: 200px;
    background-color: #37629B;
    border-radius: 30px;
    font-size: 17px;
    color: #fff;
    border: none;
}
.name{
    margin: 15px;
}
.form-control{
    padding: 20px 60px;
}
.footer1{
    display: flex;
    justify-content: space-evenly;
}
.lingid{
    display: flex;
    align-self: center;
    padding: 30px;
}
::placeholder {
    color: white;
}